.child {
    background-color: red;
    position: absolute;
    width: 9%; 
    height: 6%;
    top: 14%;
    left: 34%;
    opacity: 0.2;
}

.parent {
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    width: 80%;
}