.brandname {
    background-color: red;
    position: absolute;
    width: 9%; 
    height: 6%;
    top: 14%;
    left: 34%;
    opacity: 0.2;
}
.url {
    background-color: red;
    position: absolute;
    width: 32%; 
    height: 4%;
    top: 0.5%;
    left: 17%;
    opacity: 0.2;
}
.logo {
    background-color: red;
    position: absolute;
    width: 7%; 
    height: 4%;
    bottom: 0.5%;
    left: 13%;
    opacity: 0.2;
}
.subtitle {
    background-color: red;
    position: absolute;
    width: 6%; 
    height: 4%;
    bottom: 20%;
    left: 46%;
    opacity: 0.2;
}

.parent {
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    width: 80%;
}

.unclickable {
    pointer-events: none;
}