* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #EAF6FF;
}

h1,
h2 {
  color: #333333;
  text-align: center;
}

.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #07B8FF;
  color: #333333;
  border: 1px solid #333333;
  margin: 0 1rem;
}

.button:hover {
  background-color: #B6E0FF;
  border-color: #333333;
}

.card {
  background-color: #B4DFFF;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 25rem;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #ffffff;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.quiz {
  background-color: #ffe600;
  width: 900px;
  min-height: auto;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px #333333;
  display: block;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
}

.score_section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question_section {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.question_count {
  margin-bottom: 20px;
}

.question_count span {
  font-size: 28px;
}

.question_text {
  margin-bottom: 14px;
  color: #333333;
}

/* ANSWERS/RIGHT SECTION */
.answer_section {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.button_quiz {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
  margin: 0 1rem;
}

.table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

th {
  color: #ffe600;
}

td {
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.center{
  text-align: center;
  border-right: 1px solid;
}

.logo_explain{
  width: 15%;
}

.content_center{
  display: flex;
  justify-content: center;
}